@import "tailwindcss";

html, body {
  height: 100dvh;
}

:root {
  --app-height: 100dvh;
}

#root-container {
  height: 100dvh; 
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@theme inline {
  
  --font-sans: "SF Pro", ui-sans-serif, system-ui, sans-serif;

  --text-display-3xl: 3.75rem;
  --leading-display-3xl: 4.5rem;

  --text-display-2xl: 3rem;
  --leading-display-2xl: 3.75rem;
  --tracking-display-2xl: -2%;

  --text-display-xl: 2.5rem;
  --leading-display-xl: 3rem;
  --tracking-display-xl: -2%;

  --text-display-lg: 2.25rem;
  --leading-display-lg: 2.75rem; 
  --tracking-display-lg: -2%;

  --text-display-md: 2rem; 
  --leading-display-md: 2.5rem; 

  --text-display-sm: 1.75rem; 
  --leading-display-sm: 2.375rem; 

  --text-display-xs: 1.5rem;
  --leading-display-xs: 2.25rem; 

  --text-text-xl: 1.25rem; 
  --leading-text-xl: 2.125rem;

  --text-text-lg: 1.125rem; 
  --leading-text-lg: 2rem; 

  --text-text-md: 1rem; 
  --leading-text-md: 1.875rem;

  --text-text-sm: 0.875rem; 
  --leading-text-sm: 1.75rem; 

  --text-text-xs: 0.75rem; 
  --leading-text-xs: 1.5rem; 

  --color-neutral-25: #fdfdfd;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e9eaeb;
  --color-neutral-300: #d5d7da;
  --color-neutral-400: #a4a7ae;
  --color-neutral-500: #717680;
  --color-neutral-600: #535862;
  --color-neutral-700: #414651;
  --color-neutral-800: #252b37;
  --color-neutral-900: #181d27;
  --color-neutral-950: #0a0d12;

  --color-primary-100: #f6f9fe;
  --color-primary-200: #7f51f9;
  --color-primary-300: #6936f2;
  --color-primary-400: #5613a3;
  --color-primary-500: #522bc8;

  --color-accent-red: #d9206e;
  --color-accent-green: #079455;
  --color-accent-yellow: #fdb022;
}

body {
  font-family: var(--font-sans);
  background-color: #000000;
  color: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #0a0d12 inset; 
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}