@import "tailwindcss";

@theme inline {
  /* Font Family */
  --font-sans: "SF Pro", ui-sans-serif, system-ui, sans-serif;

  /* Typography Scale */
  --text-display-3xl: 3.75rem; /* 60px */
  --leading-display-3xl: 4.5rem; /* 72px */

  --text-display-2xl: 3rem; /* 48px */
  --leading-display-2xl: 3.75rem; /* 60px */
  --tracking-display-2xl: -2%;

  --text-display-xl: 2.5rem; /* 40px */
  --leading-display-xl: 3rem; /* 48px */
  --tracking-display-xl: -2%;

  --text-display-lg: 2.25rem; /* 36px */
  --leading-display-lg: 2.75rem; /* 44px */
  --tracking-display-lg: -2%;

  --text-display-md: 2rem; /* 32px */
  --leading-display-md: 2.5rem; /* 40px */

  --text-display-sm: 1.75rem; /* 28px */
  --leading-display-sm: 2.375rem; /* 38px */

  --text-display-xs: 1.5rem; /* 24px */
  --leading-display-xs: 2.25rem; /* 36px */

  --text-text-xl: 1.25rem; /* 20px */
  --leading-text-xl: 2.125rem; /* 34px */

  --text-text-lg: 1.125rem; /* 18px */
  --leading-text-lg: 2rem; /* 32px */

  --text-text-md: 1rem; /* 16px */
  --leading-text-md: 1.875rem; /* 30px */

  --text-text-sm: 0.875rem; /* 14px */
  --leading-text-sm: 1.75rem; /* 28px */

  --text-text-xs: 0.75rem; /* 12px */
  --leading-text-xs: 1.5rem; /* 24px */

  /* Colors */
  --color-neutral-25: #fdfdfd;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e9eaeb;
  --color-neutral-300: #d5d7da;
  --color-neutral-400: #a4a7ae;
  --color-neutral-500: #717680;
  --color-neutral-600: #535862;
  --color-neutral-700: #414651;
  --color-neutral-800: #252b37;
  --color-neutral-900: #181d27;
  --color-neutral-950: #0a0d12;

  --color-primary-100: #f6f9fe;
  --color-primary-200: #7f51f9;
  --color-primary-300: #6936f2;
  --color-primary-400: #5613a3; /* Added */
  --color-primary-500: #522bc8; /* Added */

  --color-accent-red: #d9206e;
  --color-accent-green: #079455;
  --color-accent-yellow: #fdb022;
}

body {
  font-family: var(--font-sans);
  background-color: #000000;
  color: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  /* This creates a massive internal shadow that covers the yellow */
  -webkit-box-shadow: 0 0 0px 1000px #0a0d12 inset; 
  /* Sets the text color to match your design */
  -webkit-text-fill-color: #ffffff;
  /* Prevents the browser from flashing a color change */
  transition: background-color 5000s ease-in-out 0s;
}